*.log
*.pyc
*.sqlite
*.sublime*
*\.*swp

.coverage
.DS_Store
.Python

local_settings.py
local_fabfile.py
nosetests.xml

avatars
build
coverage
local_static
media
node_modules
venv

/admin
/css
/font
/fonts
/haystack
/images
/img
/js
/ordered_model
/src
