Django==1.5.4
South==0.7.6
pytz==2012h
django-dynamicresponse==0.1.5
wsgiref==0.1.2
gunicorn==0.16.1
Fabric==1.10.2
cuisine==0.4.4
django-debug-toolbar==0.9.4
MySQL-python==1.2.3c1
xlwt==0.7.4
xlrd==0.8.0
python-memcached==1.47
django-ordered-model==0.2.0
django-pipeline==1.3.11
slimit==0.8.1
ply==3.4
django-cache-tools==0.1.1
django-haystack==2.3.2
elasticstack==0.3.0
elasticsearch==2.1.0
django-reversion==1.7
django-crispy-forms==1.3.1
django-localflavor-us==1.1
pycrypto==2.6
django-fields==0.2.1
markdown==2.3.1
django-markup==0.4
django-widgeter==0.1
feedparser==5.1.3
django-mptt==0.7.4
pillow==3.1.1
paramiko==1.17.6
ecdsa==0.13.3
futures==3.0.3
ordereddict==1.1

# these are pinned to older versions b/c we need python 2.6 compatibility for now
# they are upgraded in "collab-monolith" which runs in python 2.7 and will just remain out of sync with this
urllib3==1.14
requests==2.9