Django==1.5.4
South
pytz
django-dynamicresponse
wsgiref
gunicorn
Fabric
cuisine
django-debug-toolbar
MySQL-python
xlwt
xlrd
python-memcached
django-ordered-model
django-pipeline==1.3.11
slimit
django-cache-tools
django-haystack
pyelasticsearch
django-reversion==1.7
django-crispy-forms==1.3.1
django-localflavor-us
pycrypto
django-fields==0.2.1
markdown
django-markup
django-widgeter
feedparser
django-mptt
