<nav>
    <ul>
        <li class="level1"><a href="intro.html">Don&rsquo;t Read This!</a>
            <ul>
                <li><a href="vision.html">The Vision</a></li>
                <li><a href="remote.html">Beam Me Up! (Working Remotely)</a></li>
                <li><a href="code-out-loud.html">Code Out Loud</a></li>
                <li><a href="help.html">You Don't Need Help</a></li>
                <li><a href="edit-me.html">Edit This!</a></li>
                <li><a href="who-knows-what.html">Who Knows What?</a></li>
                <li><a href="code-lair.html">Code Lair Decorating Tips</a></li>
            </ul>
        </li>
        <li class="level1"><a href="build.html">Building and Releasing</a>
            <ul>

                <li><a href="git.html">All Things Gitty</a></li>
                <li><a href="git-cheat-sheet.html">Git Cheat Sheet</a></li>
                <li><a href="cater.html">CATeR (Create, Assemble, Test, Release)</a></li>
                <li><a href="front-end-build.html">Front End Build Tech</a></li>
                <li><a href="re-criteria.html">Release Criteria</a></li>
                <li><a href="re-today.html">Deploying Software Today</a></li>
                <li><a href="re-tomorrow.html">Deploying Software Tomorrow</a></li>
                <li><a href="deploy-team.html">Deploying Intranet Code</a> </li>
                <li><a href="open-source.html">Open Source</a></li>
                <li><a href="opensource-checklist.html">Open Source Checklist</a></li>
                <li><a href="todo.html">Puppet</a></li>
            </ul>
        </li>
        <li class="level1"><a href="server-env.html">Server Environments</a>
            <ul>
                <li><a href="amazon-environment.html">Amazon</a></li>
                <li><a href="todo.html">Terremark</a></li>
                <li><a href="todo.html">Thing Launcher</a></li>
                <li><a href="todo.html">Databases</a></li>
            </ul>
        </li>
        <li class="level1"><a href="dev-tools.html">Developer Tools</a>
            <ul>
                <li><a href="your-laptop.html">Your Laptop</a></li>
                <li><a href="your-text-editor.html">Your Text Editor</a></li>
                <li><a href="app-setup.html">App Setup</a></li>
                <li><a href="wordpress.html">WordPress</a></li>
                <li><a href="python.html">Python</a></a></li>
                <li><a href="php.html">PHP</a></li>
                <li><a href="R.html">R</a></li>
                <li><a href="todo.html">JavaScript</a></li>
                <li><a href="todo.html">JVM Languages</a></li>
            </ul>
        </li>
        <li class="level1"><a href="code-general.html">Coding Standards</a>
            <ul>
                <li><a href="code-general.html">General Practices</a></li>
                <li><a href="browser-support.html">Browser Support</a></li>
                <li><a href="wordpress-js.html">WordPress JS</a></li>
                <li><a href="css.html">CSS</a></li>
                <li><a href="html-standards.html">HTML</a></li>
                <li><a href="javascript.html">JavaScript</a></li>
            </ul>
        </li>
        <li class="level1"><a href="ux-principles.html">UX and Accessibility</a>
            <ul>
                <li><a href="ux-principles.html">Core UX Principles</a></li>
                <li><a href="accessibility-principles.html">Four Principles of Accessibility</a></li>
                <li><a href="accessibility-guide.html">Web Accessibility Guide</a></li>
                <li><a href="accessibility-resources.html">Web Accessibility Resources</a></li>
            </ul>
        </li>
        <li class="level1"><a href="todo.html">Secure Programming</a>
            <ul>
                <li><a href="todo.html">We Are Responsible</a></li>
                <li><a href="privacy.html">Privacy &amp; PII</a></li>
                <li><a href="todo.html">Vulnerability Reference</a></li>
                <li><a href="todo.html">Static Analysis</a></li>
            </ul>
        </li>
        <li class="level1"><a href="todo.html">Software Testing</a>
            <ul>
                <li><a href="quality-rating.html">Quality Rating</a></li>
                <li><a href="coverage.html">Code Coverage</a></li>
                <li><a href="continuous-integration.html">Continuous Integration</a></li>
                <li><a href="unit-tests.html">Unit Tests &amp; TDD</a></li>
                <li><a href="nosetest.html">Nose Tests</a></li>
                <li><a href="todo.html">Selenium</a></li>
                <li><a href="mogotest.html">Mogotest</a></li>
            </ul>
        </li>
        <li class="level1">Maintaining our apps and servers
            <ul>
                <li><a href="git_maintenance.html">Maintaining github.cfpb.gov</a></li>
                <li><a href="jenkins.html">Maintaining Jenkins</a></li>
            </ul>
        </li>
        <li class="level1">External References
            <ul>
                <li><a href="http://www.freebsd.org/doc/en/books/developers-handbook/">FreeBSD Handbook</a></li>
                <li><a href="http://www.gentoo.org/proj/en/devrel/handbook/handbook.xml">Gentoo Handbook</a></li>
            </ul>
        </li>
        <li class="level1">Misc
            <ul>
                <li><a href="chchchanges.html">Change Log</a></li>
            </ul>
        </li>
    </ul>
</nav>
