{% extends "base.html" %}

{% block "content" %}
<div id="content">
    <h1>Edit Profile</h1>
    <div class="row">
        <div class="span8">
            <form action="{% url "core:account" %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input_right">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}<span id="id_{{ field.name }}_error_message"></span>
                    </div>
                {% endfor %}
                <div class="align_right">
                    <input type="submit" value="Save" class="btn">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block "js_scripts" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/account_form_validation.js"></script>
<script type="text/javascript">
    var mphone = document.getElementById("id_mobile_phone");
    var ophone = document.getElementById("id_office_phone");
    var hphone = document.getElementById("id_home_phone");
    initValid(mphone);
    initValid(ophone);
    initValid(hphone);
</script>
{% endblock %}
